#home {
  padding: 80px 16px;
  background: #e2edff;
  text-align: center;
}

#about {
  padding: 80px 16px 32px 16px;
  background: #e2edff;
  text-align: center;
}
#schedule {
  padding-top: 80px;
  background: #e2edff;
}

section {
  padding-top: 80px;
}

.animasi:hover {
  animation: scale 1s ease infinite;
}

@keyframes scale {
  0% {
    bottom: 8px;
  }
  49% {
    bottom: -3px;
  }
  50% {
    bottom: -3px;
  }
  99% {
    bottom: 8px;
  }
  100% {
    bottom: 8px;
  }
}
